<div class="ui two item menu">
  <%= link_to 'Timeline', root_path, class: menu_item_class(root_path) %>
  <%= link_to 'Explore', explore_path, class: menu_item_class(explore_path) %>
</div>

<div id="map"></div>

<div class="ui doubling four link cards">
  <% @posts.each do |post| %>
    <div class="card">
      <div class="image">
        <%= image_tag post.photo %>
      </div>
      <div class="content">
        <div class="description">
          hahaha test
        </div>
      </div>
      <div class="extra content">
        extra
      </div>
    </div>
  <% end %>
</div>

<script type="text/javascript">
    let map = makeMap();
    setMapCenter(map);

    let markers = <%= @markers.to_json.to_s.html_safe %>;
    locateMarkers(markers, map);
</script>
